{% load floppyforms %}{% block row %}{% for field in fields %}
<div class="form-group{% if field.errors %} error{% endif %}" {% if div_id %}id="{{ div_id }}"{% endif %}>
    {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
    {% block label %}
        {% if field|id %}<label class="control-label col-md-4" for="{{ field|id }}" id="{{ field.name }}_1" {% if style_label %}style="{{ style_label }}"{% endif %}>{% endif %}{{ label_1 }}{% if field.field.required %} <span class="required">*</span>{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}
        {% if field|id %}<label class="control-label col-md-4" for="{{ field|id }}" id="{{ field.name }}_2" {% if style_label %}style="{{ style_label }}"{% endif %}>{% endif %}{{ label_2 }}{% if field.field.required %} <span class="required">*</span>{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}
    {% endblock %}
    {% block field %}
        <div class="col-md-4 {{ classes }} field-{{ field.name }}" {% if style_div %}style="{{ style_div }}"{% endif %}>
            {% block widget %}{% formfield field %}{% endblock %}
            {% block errors %}{% include "floppyforms/errors.html" with errors=field.errors %}{% endblock %}
            {% block help_text %}{% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}{% endblock %}
            {% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
        </div><!--- .controls -->
    {% endblock %}
    {% endwith %}
</div><!--- .control-group{% if field.errors %}.error{% endif %} -->
{% endfor %}{% endblock %}
