{% load floppyforms %}{% block row %}
<div class="control-group{% if fields.0.errors %} error{% endif %}">
    {% with classes=fields.0.css_classes label=label|default:fields.0.label help_text=help_text|default:fields.0.help_text %}
    {% block label %}{% if fields.0|id %}<label class="control-label" for="{{ fields.0|id }}">{% endif %}{{ label }}{% if fields.0.field.required %} <span class="required">*</span>{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if fields.0|id %}</label>{% endif %}{% endblock %}
    {% block field %}
        <div class="controls {{ classes }}">
            <div class="input-prepend">
                <span class="add-on">ru</span>{% formfield fields.0 %}
            </div>
            <div class="input-prepend">
                <span class="add-on">en</span>{% formfield fields.1 %}
            </div>
            {% block errors %}{% include "floppyforms/errors.html" with errors=fields.0.errors %}{% endblock %}
        </div><!--- .controls -->
    {% endblock %}
{% endwith %}
</div><!--- .control-group{% if field.errors %}.error{% endif %} -->
{% endblock %}
