{% load floppyforms %}{% block row %}
<div class="form-group{% if fields.0.errors %} error{% endif %}">
    {% with classes=fields.0.css_classes label=label|default:fields.0.label help_text=help_text|default:fields.0.help_text %}
    {% block label %}{% if fields.0|id %}<label class="control-label col-md-4" style="margin-left: 0px;" for="{{ fields.0|id }}" style="width:200px">{% endif %}{{ label }}{% if fields.0.field.required %} <span class="required">*</span>{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if fields.0|id %}</label>{% endif %}{% endblock %}
    {% block field %}
        <div class="col-md-2 {{ classes }}" style="margin-left: 15px;">
        <div class="form-group">
            <div class="input-group">
                {% formfield fields.0 %}<span class="input-group-addon">грн.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                {% formfield fields.1 %}<span class="input-group-addon">грн./мин.</span>
            </div>
        </div>
            {% block errors %}{% include "floppyforms/errors.html" with errors=fields.0.errors %}{% endblock %}
        </div><!--- .controls -->
    {% endblock %}
{% endwith %}
</div><!--- .control-group{% if field.errors %}.error{% endif %} -->
{% endblock %}
