{% extends "restaurant/index.html" %}
{% load staticfiles %}
{% load floppyforms %}

{% block title %}
    {% if restaurant %}{{ restaurant }}{% else %}Новый ресторан{% endif %} | Рестораны
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-3">
                <div class="well-sm pull-left" style="margin: 5px; padding: 8px 0;">
                    <ul class="list-group">
                        <label>{% if restaurant %}{{ restaurant.name_rus }}{% else %}Новый ресторан{% endif %}</label>
                        <a href="#" class="list-group-item" id="nav1">Общая информация</a>
                        <a href="#" class="list-group-item" id="nav2">Информация о контакте</a>
                        <a href="#" class="list-group-item" id="nav3">Организационная форма</a>
                        <a href="#" class="list-group-item" id="nav4">Документация</a>
                        <a href="#" class="list-group-item" id="nav5">Ограничения</a>
                        <a href="#" class="list-group-item" id="nav6">Оборудование</a>
                        <a href="#" class="list-group-item" id="nav7">Видеоролики</a>
                        <a href="#" class="list-group-item" id="nav8">Реквизиты</a>
                        <a href="#" class="list-group-item" id="nav9">Контакты</a>
                    </ul>
                        <div style="text-align:center;">
                            <a href="{% url 'restaurant-index' %}" class="btn btn-danger btn-xm">Отменить</a>
                            <button type="submit" class="btn btn-primary btn-xm" form="grew_form">Сохранить</button>
                        </div>
                </div>
            </div>
            <div class="col-md-9">
                <form enctype="multipart/form-data" action="" method="post" class="form-horizontal" id="grew_form">
                    {% csrf_token %}
                    {% form formRest using "floppyforms/layouts/restaurant.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.ru.js' %}"></script>
    <script src="{% static 'js/bootstrap-formhelpers-phone.format.js' %}"></script>
    <script src="{% static 'js/bootstrap-formhelpers-phone.js' %}"></script>
    <script src="{% static 'js/jquery.grewform.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.datetimepicker').datetimepicker({
                format: 'hh:mm',
                language: 'ru',
                pickDate: false
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sum_1").keyup(function() {
                var sum_1 = $("#sum_1").val();
                var sum_2 = $("#sum_2");
                if (sum_1.length == 0) {
                    if (sum_2.is(":disabled")) sum_2.removeAttr("disabled");
                }
                else {
                    if (!sum_2.is(":disabled")) sum_2.attr("disabled",true);
                }
            });
            $("#sum_2").keyup(function() {
                var sum_2 = $("#sum_2").val();
                var sum_1 = $("#sum_1");
                if (sum_2.length == 0) {
                    if (sum_1.is(":disabled")) sum_1.removeAttr("disabled");
                }
                else {
                    if (!sum_1.is(":disabled")) sum_1.attr("disabled",true);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $('#rest2,#rest3,#rest4,#rest5,#rest6,#rest7,#rest8,#rest9').hide();
            $('#stat_doc_1_1, #stat_doc_1_2, #stat_doc_2_1, #stat_doc_2_2, #stat_doc_3_1, #stat_doc_3_2, #stat_doc_4_1, #stat_doc_4_2, #code_1, #code_2, #vat_inn_1, #vat_inn_2').hide();
            $('#nav1').click(function() {
                $('#nav2,#nav3,#nav4,#nav5,#nav6,#nav7,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest2,#rest3,#rest4,#rest5,#rest6,#rest7,#rest8,#rest9').hide();
                $('#rest1').show();
            });
            $('#nav2').click(function() {
                $('#nav1,#nav3,#nav4,#nav5,#nav6,#nav7,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest3,#rest4,#rest5,#rest6,#rest7,#rest8,#rest9').hide();
                $('#rest2').show();
            });
            $('#nav3').click(function() {
                $('#nav1,#nav2,#nav4,#nav5,#nav6,#nav7,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest4,#rest5,#rest6,#rest7,#rest8,#rest9').hide();
                $('#rest3').show();
                $('#grew_form').grewform({
                    '#div_org_form option[value=1]:selected':{show:'#stat_doc_1_1, #stat_doc_2_1, #stat_doc_3_1, #stat_doc_4_1, #code_1, #vat_inn_1'},
                    '#div_org_form option[value=2]:selected':{show:'#stat_doc_1_2, #stat_doc_2_2, #stat_doc_3_2, #stat_doc_4_2, #code_2, #vat_inn_2'}
                });
            });
            $('#nav4').click(function() {
                $('#nav1,#nav2,#nav3,#nav5,#nav6,#nav7,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3,#rest5,#rest6,#rest7,#rest8,#rest9').hide();
                $('#rest4').show();
            });
            $('#nav5').click(function() {
                $('#nav1,#nav2,#nav3,#nav4,#nav6,#nav7,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3,#rest4,#rest6,#rest7,#rest8,#rest9').hide();
                $('#rest5').show();
            });
            $('#nav6').click(function() {
                $('#nav1,#nav2,#nav3,#nav4,#nav5,#nav7,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3,#rest4,#rest5,#rest7,#rest8,#rest9').hide();
                $('#rest6').show();
            });
            $('#nav7').click(function() {
                $('#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav8,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3,#rest4,#rest5,#rest6,#rest8,#rest9').hide();
                $('#rest7').show();
            });
            $('#nav8').click(function() {
                $('#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7,#nav9').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3,#rest4,#rest5,#rest6,#rest7,#rest9').hide();
                $('#rest8').show();
            });
            $('#nav9').click(function() {
                $('#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7,#nav8').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3,#rest4,#rest5,#rest6,#rest7,#rest8').hide();
                $('#rest9').show();
            });
        });
    </script>
{% endblock script %}
