<div class="modal fade" id="myModal_{{ agency.id }}_browse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{ agency.id }}_browse" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel_{{ agency.id }}_browse">Просмотр "{{ agency }}"</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:220px">Общая информация</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Клиент</td>
                            <td>{{ agency.name }}</td>
                        </tr>
                        {% if agency.adv_ag %}
                            <tr>
                                <td>Рекламное агенство</td>
                                <td>{{ agency.adv_ag }}</td>
                            </tr>
                        {% endif %}
                        {% if agency.agency_payer.all %}
                            {% for item in agency.agency_payer.all %}
                                <tr>
                                    {% if forloop.first %}<td>Плательщик</td>{% else %}<td></td>{% endif %}
                                    <td>{{ item }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if agency.agency_brand.all %}
                            {% for item in agency.agency_brand.all %}
                                <tr>
                                    {% if forloop.first %}<td>Бренд</td>{% else %}<td></td>{% endif %}
                                    <td>{{ item }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if agency.branch %}
                            <tr>
                                <td>Отрасль</td>
                                <td>{{ agency.branch }}</td>
                            </tr>
                        {% endif %}
                        {% if agency.site %}
                            <tr>
                                <td>Сайт</td>
                                <td><a href="{{ agency.site }}" target="_blank">{{ agency.site }}</a></td>
                            </tr>
                        {% endif %}
                        {% if agency.notes %}
                            <tr>
                                <td>Примечания</td>
                                <td>{{ agency.notes }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Статус</td>
                            <td>{{ agency.status_verbose }}</td>
                        </tr>
                        <tr>
                            <th>Юридическая информация</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Плательщик НДС</td>
                            <td>{{ agency.payer_vat_verbose }}</td>
                        </tr>
                        {% if agency.agency_neg_res.all %}
                            <tr>
                                <th>Результаты</th>
                                <th></th>
                            </tr>
                            {% for item in agency.agency_neg_res.all %}
                                {% if forloop.last %}
                                    <tr>
                                        <td>Результаты переговоров</td>
                                        <td>{{ item.negot_res }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата последнего контакта</td>
                                        <td>{{ item.last_cont_date }}</td>
                                    </tr>
                                    <tr>
                                        <td>План следующего контакта</td>
                                        <td>{{ item.contact_plan }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата следующего контакта</td>
                                        <td>{{ item.next_cont_date }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                {% if agency in my_agency_list %}
                    <a href="{% url 'agency-edit' agency.id %}" role="button" class="btn btn-warning btn-sm">Редактировать</a>
                    <a href="#myModal_{{ agency.id }}_delete" role="button" class="btn btn-danger btn-sm" data-toggle="modal" data-dismiss="modal">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
