<div class="modal hide fade" id="myModal_{{ agency.id }}_browse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{ agency.id }}_browse" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel_{{ agency.id }}_browse">Просмотр "{{ agency }}"</h3>
    </div>
    <div class="modal-body">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th style="width:220px">Общая информация</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Клиент</td>
                    <td>{{ agency.name }}</td>
                </tr>
                {% if agency.adv_ag %}
                <tr>
                    <td>Рекламное агенство</td>
                    <td>{{ agency.adv_ag }}</td>
                </tr>
                {% endif %}
                {% if agency.payer %}
                <tr>
                    <td>Плательщик</td>
                    <td>{{ agency.payer }}</td>
                </tr>
                {% endif %}
                {% if agency.brand %}
                <tr>
                    <td>Бренд</td>
                    <td>{{ agency.brand }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Отрасль</td>
                    <td>{{ agency.branch }}</td>
                </tr>
                <tr>
                    <td>Сайт</td>
                    <td><a href="{{ agency.site }}" target="_blank">{{ agency.site }}</a></td>
                </tr>
                <tr>
                    <td>Примечания</td>
                    <td>{{ agency.notes }}</td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>{{ agency.status_verbose }}</td>
                </tr>
                <tr>
                    <th>Юридическая информация</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Плательщик НДС</td>
                    <td>{{ agency.payer_vat_verbose }}</td>
                </tr>
                {% if agency.payer_cert %}
                <tr>
                    <td>Плательщик</td>
                    <td>{{ agency.payer_cert }}</td>
                </tr>
                {% endif %}
                {% if agency.details %}
                <tr>
                    <td>Плательщик</td>
                    <td>{{ agency.details }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Результаты</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Дата внесения в базу</td>
                    <td>{{ agency.add_date }}</td>
                </tr>
                <tr>
                    <td>Результаты переговоров</td>
                    <td>{{ agency.negot_res }}</td>
                </tr>
                <tr>
                    <td>Дата последнего контакта</td>
                    <td>{{ agency.last_cont_date }}</td>
                </tr>
                <tr>
                    <td>План следующего контакта</td>
                    <td>{{ agency.contact_plan }}</td>
                </tr>
                <tr>
                    <td>Дата следующего контакта</td>
                    <td>{{ agency.next_cont_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <a href="{% url 'agency-edit' agency.id %}" class="btn btn-warning">Редактировать</a>
        <a href="#myModal_{{ agency.id }}_delete" role="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" aria-hidden="true">Удалить</a>
    </div>
</div>
