{% extends "client/index.html" %}

{% block title %}
    Клиенты | Рекламные агенства
{% endblock title %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header"></li>
                        <li><a href="{% url 'client-index' %}"><i class="icon-home"></i> Клиенты</a></li>
                        <li class="active"><a href="#"><i class="icon-home"></i> Рекламные агенства</a></li>
                        <li><a href="{% url 'client-contact-index' %}"><i class="icon-user"></i> Контакты</a></li>
                        <!--<li><a href="{% url 'client-ac-index' %}"><i class="icon-facetime-video"></i> Запуск РК</a></li>-->
                        <li><a href="{% url 'client-branch-index' %}"><i class="icon-edit"></i> Отрасли</a></li>
                    </ul>
                </div>
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Фильтры</li>
                        <li class="divider"></li>
                        <form action="" method="get">
                            <select name="manager" style="width:180px">
                                <option value="">Менеджер</option>
                                {% for manager in managers %}
                                    <option {% ifequal manager_act manager.id %}selected{% endifequal %} value="{{ manager.id }}">{{ manager.last_name }} {{ manager.first_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-small">Продолжить</button>
                        </form>
                    </ul>
                </div>
            </div>
            <div class="span9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Агенство</th>
                            <th>Отрасль</th>
                            <th>Статус</th>
                            <th>Дата контакта</th>
                            <th>Менеджер</th>
                            <th style="width:92px"><a href="{% url 'agency-new' %}" class="btn btn-success btn-mini" style="width:78px"><i class="icon-plus icon-white"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agency in agencies %}
                            <tr>
                                <td>{{ agency.name }}</td>
                                <td>{{ agency.branch }}</td>
                                <td>{{ agency.status_verbose }}</td>
                                <td></td>
                                <td>{{ agency.username.last_name }} {{ agency.username.first_name }}</td>
                                <td>
                                    <a href="#myModal_{{ agency.id }}_browse" role="button" class="btn btn-info btn-mini" data-toggle="modal"><i class="icon-zoom-in icon-white"></i></a>
                                    <a href="{% url 'agency-edit' agency.id %}" class="btn btn-warning btn-mini"><i class="icon-edit icon-white"></i></a>
                                    <a href="#myModal_{{ agency.id }}_delete" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><i class="icon-remove icon-white"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for agency in agencies %}
            {% include "client/agency/browse.html" %}
            {% include "client/agency/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}
