<div class="input-append">
    <input type="{{ type }}" name="{{ name }}"{% if value %} value="{{ value }}"{% endif %}{% include "floppyforms/attrs.html" %}{% if datalist %} list="{{ attrs.id }}_list"{% endif %}><a href="#" data-formset-delete-button><span class="add-on"><i class="icon-remove"></i></span></a>{% if datalist %}
    <datalist id="{{ attrs.id }}_list">{% for item in datalist %}
        <option value="{{ item }}">{% endfor %}
    </datalist>{% endif %}
</div>
{% if res %}<a href="#" class="btn" data-formset-add><i class="icon-plus"></i></a>{% endif %}
