{% load floppyforms %}
{% block row %}
<div class="form-group{% if fields.0.errors or fields.1.errors %} error{% endif %}">
    {% with classes=fields.0.css_classes %}
    {% block field %}
        <div class="col-md-4 {{ classes }} field-{{ fields.0.name }}" style="margin-left: 292px;">
            {% block widget %}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">г.</span>{% formfield fields.0 %}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">ул.</span>{% formfield fields.1 %}
                </div>
            </div>
            {% endblock %}
            {% block errors %}
                {% include "floppyforms/errors.html" with errors=fields.0.errors %}
                {% include "floppyforms/errors.html" with errors=fields.1.errors %}
            {% endblock %}
        </div><!--- .controls -->
    {% endblock %}
    {% endwith %}
</div><!--- .control-group{% if field.errors %}.error{% endif %} -->
{% endblock %}
