{% load floppyforms %}
{% block row %}
<div class="form-group{% if fields.0.errors or fields.1.errors %} error{% endif %}">
    {% with classes=fields.0.css_classes label=label|default:fields.0.label %}
    {% block label %}
        {% if fields.0|id %}<label class="control-label col-md-4" for="{{ fields.0|id }}">{% endif %}{{ label }}{% if field.fields.0.required %} <span class="required">*</span>{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if fields.0|id %}</label>{% endif %}
    {% endblock %}
    {% block field %}
        <div class="col-md-4 {{ classes }} field-{{ fields.0.name }}">
            {% block widget %}
            <div class="form-group">
                {% formfield fields.0 %}
            </div>
            <div class="form-group">
                <div class="input-group">
                    {% formfield fields.1 %}<span class="input-group-addon"><span id="{{ fields.1.name }}_1">Код ЕДРПОУ</span><span id="{{ fields.1.name }}_2">Идентификационный код</span></span>
                </div>
            </div>
            {% endblock %}
            {% block errors %}
                {% include "floppyforms/errors.html" with errors=fields.0.errors %}
                {% include "floppyforms/errors.html" with errors=fields.1.errors %}
            {% endblock %}
        </div><!--- .controls -->
    {% endblock %}
    {% endwith %}
</div><!--- .control-group{% if field.errors %}.error{% endif %} -->
{% endblock %}
