{% extends "base.html" %}

{% block title %}
    Главная
{% endblock title %}

{% block navbar %}
    <!--<li class="active"><a href="{% url 'index' %}">Главная</a></li>-->
    {% if user in director_group or user in manager_group %}
        <li><a href="{% url 'client-index' %}">Клиенты</a></li>
    {% endif %}
    {% if user in director_group %}
        <li><a href="{% url 'restaurant-index' %}">Рестораны</a></li>
    {% endif %}
    {% if user in director_group %}
        <li><a href="{% url 'tech-index' %}">Технический отдел</a></li>
    {% endif %}
    <!--<li><a href="{% url 'analytics-index' %}">Отчетность</a></li>-->
{% endblock navbar %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
{% endblock content %}
