{% extends "base.html" %}

{% block title %}
    Главная
{% endblock title %}

{% block navbar %}
    <li class="active"><a href="/">Главная</a></li>
    <li><a href="/client/">Клиенты</a></li>
    <li><a href="/restaurant/">Рестораны</a></li>
    <li><a href="/analytics/">Отчетность</a></li>
{% endblock navbar %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span2">
                <!--Sidebar content-->
                Menues
            </div>
            <div class="span10">
                <!--Body content-->
                Content
            </div>
        </div>
    </div>
{% endblock content %}
