{% extends "floppyforms/layouts/bootstrap.html" %}{% load floppyforms %}{% load formset_tags %}

{% block rows %}
<div class="row">
    <div class="col-md-6">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="total">
                <h4>Общая информация</h4>
                {% formrow form.name %}
                {% formrow form.adv_ag %}
                <div id="formPayerSet" data-formset-prefix="{{ formPayerSet.prefix }}">
                    {{ formPayerSet.management_form }}
                    <div data-formset-body>
                        {% for form in formPayerSet %}
                            <div data-formset-form>
                                {% if forloop.last %}{% form form using "floppyforms/layouts/payer.html" with res='1' %}{% else %}{% form form using "floppyforms/layouts/payer.html" %}{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    
                    <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                {% form formPayerSet.empty_form using "floppyforms/layouts/payer.html" %}
                            </div>
                        {% endescapescript %}
                    </script>

                    <script>jQuery(function($) {
                        $("#formPayerSet").formset();
                    });</script>
                </div>
                <div id="formBrandSet" data-formset-prefix="{{ formBrandSet.prefix }}">
                    {{ formBrandSet.management_form }}
                    <div data-formset-body>
                        {% for form in formBrandSet %}
                            <div data-formset-form>
                                {% if forloop.last %}{% form form using "floppyforms/layouts/brand.html" with res='1' %}{% else %}{% form form using "floppyforms/layouts/brand.html" %}{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    
                    <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                {% form formBrandSet.empty_form using "floppyforms/layouts/brand.html" %}
                            </div>
                        {% endescapescript %}
                    </script>

                    <script>jQuery(function($) {
                        $("#formBrandSet").formset();
                    });</script>
                </div>
                {% formrow form.branch %}
                {% formrow form.site using 'floppyforms/rows/site.html' %}
                {% formrow form.notes %}
                {% formrow form.status %}
                {% formfield form.username %}
            </div>
            <div class="tab-pane fade" id="juridical">
                <h4>Юридическая информация</h4>
                {% formrow form.payer_vat with div_id='div_payer_vat' %}
                {% formrow form.payer_cert with div_id='div_payer_cert' %}
                {{ formDetailsSet.management_form }}
                {% form formDetailsSet.forms using "floppyforms/layouts/details_client.html" %}
            </div>
            <div class="tab-pane fade" id="contacts">
                <h4>Контакты</h4>
                <div class="panel-group" id="accordion1">
                    {{ formContactSet.management_form }}
                    {% for form in formContactSet %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#contact_{{ forloop.counter }}">
                                        {% if forloop.last %}Новый контакт{% else %}Контакт {{ forloop.counter }}{% endif %}
                                    </a>
                                </h4>
                            </div>
                            <div id="contact_{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% form form using "floppyforms/layouts/bootstrap.html" %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Результаты переговоров</h4>
        <div class="panel-group" id="accordion2">
            {{ formNegotiationResultSet.management_form }}
            {% for form in formNegotiationResultSet %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#neg_res_{{ forloop.counter }}">
                                {% if forloop.last %}Новые переговоры{% else %}Переговоры {{ forloop.counter }}{% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="neg_res_{{ forloop.counter }}" class="panel-collapse collapse{% if forloop.last %} in{% endif %}">
                        <div class="panel-body">
                            {% form form using "floppyforms/layouts/neg_results.html" %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
