{% extends "floppyforms/layouts/bootstrap.html" %}{% load floppyforms %}

{% block rows %}
    {% formrow form.legal_name %}
    {% formrow form.code %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Адрес</strong>
        </div>
        <div class="panel-body">
            {% formrow form.region %}
            <div class="row">
                <div class="col-md-4">
                    {% formrow form.index %}
                </div>
                <div class="col-md-8">
                    {% formrow form.city %}
                </div>
            </div>
            {% formrow form.street %}
            <div class="row">
                <div class="col-md-6">
                    {% formrow form.house1 %}
                </div>
                <div class="col-md-6">
                    {% formrow form.house2 %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% formrow form.room1 %}
                </div>
                <div class="col-md-4">
                    {% formrow form.office %}
                </div>
                <div class="col-md-4">
                    {% formrow form.room2 %}
                </div>
            </div>
        </div>
    </div>
    {% formrow form.phone %}
    {% formrow form.bank %}
    {% formrow form.mfo %}
    {% formrow form.current_account %}
    {% formrow form.vat_inn %}
    {% formfield form.id %}
    {% formfield form.client %}
    {% formfield form.agency %}
    {% formfield form.username %}
    {% formfield form.is_active %}    
{% endblock %}
