{% extends "client/index.html" %}
{% load staticfiles %}
{% load floppyforms %}

{% block title %}
    {% if client %}{{ client }}{% else %}Новый клиент{% endif %} | Клиенты
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="well well-sm">
                    <span class="text-muted"><strong>{% if client %}{{ client.name }}{% else %}Новый клиент{% endif %}</strong></span>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#total" data-toggle="tab">Общая информация</a></li>
                    <li><a href="#juridical" data-toggle="tab">Юр. информация</a></li>
                    <li><a href="#contacts" data-toggle="tab">Контакты</a></li>
                </ul>
                <br />
                <div style="text-align:center;">
                    <a href="{% url 'client-index' %}" class="btn btn-sm btn-default" role="button">Отменить</a>
                    <button type="submit" class="btn btn-primary btn-sm" form="grew_form">Сохранить</button>
                </div>
            </div>
            <div class="col-md-9">
                <form enctype="multipart/form-data" action="" method="post" class="form-horizontal" role="form" id="grew_form">
                    {% csrf_token %}
                    {% form formClient using "floppyforms/layouts/client.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.ru.js' %}"></script>
    <script src="{% static 'js/jquery.grewform.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.form_datetime').datetimepicker({
                format: 'dd-mm-yyyy',
                language: 'ru',
                weekStart: 1,
                pickerPosition: 'bottom-left',
                autoclose: true,
                minView: 3,
                todayHighlight: true
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $('#div_payer_cert').hide();
            $('#grew_form').grewform({
                '#div_payer_vat option[value=1]:selected':{show:'#div_payer_cert'}
            });
        });
    </script>
{% endblock script %}
