{% extends "client/index.html" %}
{% load staticfiles %}
{% load floppyforms %}

{% block title %}
    {% if client %}{{ client }}{% else %}Новый клиент{% endif %} | Клиенты
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list" id="myTab">
                        <li class="nav-header">{% if client %}{{ client.name_rus }}{% else %}Новый клиент{% endif %}</li>
                        <li class="active"><a class="tab" href="#total">Общая информация</a></li>
                        <li><a class="tab" href="#juridical">Юр. информация</a></li>
                        <li><a class="tab" href="#results">Результаты</a></li>
                        <li><a class="tab" href="#contacts">Контакты</a></li>
                        <li class="divider"></li>
                        <div style="text-align:center;">
                            <a href="{% url 'client-index' %}" class="btn btn-small">Отменить</a>
                            <button type="submit" class="btn btn-primary btn-small" form="grew_form">Сохранить</button>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <form enctype="multipart/form-data" action="" method="post" class="form-horizontal" id="grew_form">
                    {% csrf_token %}
                    {% form formClient using "floppyforms/layouts/client.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.ru.js' %}"></script>
    <script src="{% static 'js/bootstrap-formhelpers-phone.format.js' %}"></script>
    <script src="{% static 'js/bootstrap-formhelpers-phone.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#datetimepicker_1').datetimepicker({
                format: 'dd.MM.yyyy',
                language: 'ru',
                pickTime: false
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $('#datetimepicker_2').datetimepicker({
                format: 'dd.MM.yyyy',
                language: 'ru',
                pickTime: false
            });
        });
    </script>
    <script type="text/javascript">
        $('#myTab a.tab').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
{% endblock script %}
