{% extends "client/index.html" %}
{% load staticfiles %}
{% load floppyforms %}

{% block title %}
    {% if client %}{{ client }}{% else %}Новый клиент{% endif %} | Клиенты
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">{% if client %}{{ client.name_rus }}{% else %}Новый клиент{% endif %}</li>
                        <li id="nav1" class="active"><a href="#">Общая информация</a></li>
                        <li id="nav2"><a href="#">Юр. информация</a></li>
                        <li id="nav3"><a href="#">О контакте</a></li>
                        <li id="nav4"><a href="#">Контакты</a></li>
                        <li class="divider"></li>
                        <div style="text-align:center;">
                            <a href="{% url 'client-index' %}" class="btn btn-small">Отменить</a>
                            <button type="submit" class="btn btn-primary btn-small" form="grew_form">Сохранить</button>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <form action="" method="post" class="form-horizontal" id="grew_form">
                    {% csrf_token %}
                    {% form formClient using "floppyforms/layouts/client.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.ru.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#datetimepicker').datetimepicker({
                format: 'dd.MM.yyyy',
                language: 'ru',
                pickTime: false
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $('#rest2,#rest3,#rest4').hide();
            $('#nav1').click(function() {
                $('#nav2,#nav3,#nav4').removeClass('active');
                $(this).addClass('active');
                $('#rest2,#rest3,#rest4').hide();
                $('#rest1').show();
            });
            $('#nav2').click(function() {
                $('#nav1,#nav3,#nav4').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest3,#rest4').hide();
                $('#rest2').show();
            });
            $('#nav3').click(function() {
                $('#nav1,#nav2,#nav4').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest4').hide();
                $('#rest3').show();
            });
            $('#nav4').click(function() {
                $('#nav1,#nav2,#nav3').removeClass('active');
                $(this).addClass('active');
                $('#rest1,#rest2,#rest3').hide();
                $('#rest4').show();
            });
        });
    </script>
{% endblock script %}
