{% extends "base.html" %}

{% block title %}
    Клиенты
{% endblock title %}

{% block navbar %}
    <!--<li><a href="{% url 'index' %}">Главная</a></li>-->
    <li class="active"><a href="{% url 'client-index' %}">Клиенты</a></li>
    <li><a href="{% url 'restaurant-index' %}">Рестораны</a></li>
    <li><a href="{% url 'tech-index' %}">Технический отдел</a></li>
    <!--<li><a href="{% url 'analytics-index' %}">Отчетность</a></li>-->
{% endblock navbar %}
{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header"></li>
                        <li class="active"><a href="#"><i class="icon-home"></i> Клиенты</a></li>
                        <li><a href="{% url 'agency-index' %}"><i class="icon-home"></i> Рекламные агенства</a></li>
                        <li><a href="{% url 'client-contact-index' %}"><i class="icon-user"></i> Контакты</a></li>
                        <!--<li><a href="{% url 'client-ac-index' %}"><i class="icon-facetime-video"></i> Запуск РК</a></li>-->
                        <li><a href="{% url 'client-branch-index' %}"><i class="icon-edit"></i> Отрасли</a></li>
                    </ul>
                </div>
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Фильтры</li>
                        <li class="divider"></li>
                        <form action="" method="get">
                            <select name="manager" style="width:180px">
                                <option value="">Менеджер</option>
                                {% for manager in managers %}
                                    <option {% ifequal manager_act manager.id %}selected{% endifequal %} value="{{ manager.id }}">{{ manager.last_name }} {{ manager.first_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-small">Продолжить</button>
                        </form>
                    </ul>
                </div>
            </div>
            <div class="span9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Отрасль</th>
                            <th>Статус</th>
                            <th>Дата контакта</th>
                            <th>Менеджер</th>
                            <th style="width:92px"><a href="{% url 'client-new' %}" class="btn btn-success btn-mini" style="width:78px"><i class="icon-plus icon-white"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.name }}</td>
                                <td>{{ client.branch }}</td>
                                <td>{{ client.status_verbose }}</td>
                                <td></td>
                                <td>{{ client.username.last_name }} {{ client.username.first_name }}</td>
                                <td>
                                    <a href="#myModal_{{ client.id }}_browse" role="button" class="btn btn-info btn-mini" data-toggle="modal"><i class="icon-zoom-in icon-white"></i></a>
                                    <a href="{% url 'client-edit' client.id %}" class="btn btn-warning btn-mini"><i class="icon-edit icon-white"></i></a>
                                    <a href="#myModal_{{ client.id }}_delete" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><i class="icon-remove icon-white"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="text-align: center;">
                    <div class="pagination pagination-small">
                        <ul>
                            {% if clients.has_previous %}
                                <li><a href="{% url 'client-index' page=1 %}">&laquo;</a></li>
                                <li><a href="{% url 'client-index' page=clients.previous_page_number %}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                <li class="disabled"><span>&lt;</span></li>
                            {% endif %}
                            {% for page in clients.paginator.page_range %}
                                {% if page == clients.number %}
                                    <li class="disabled"><span>{{ page }}</span></li>
                                {% else %}
                                    <li><a href="{% url 'client-index' page=page %}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if clients.has_next %}
                                <li><a href="{% url 'client-index' page=clients.next_page_number %}">&gt;</a></li>
                                <li><a href="{% url 'client-index' page=clients.paginator.num_pages %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% for client in clients %}
            {% include "client/client/browse.html" %}
            {% include "client/client/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(function(){
            $('a').popover();
        })
    </script>
{% endblock script %}