{% extends "add/base.html" %}
{% load staticfiles %}

{% block title %}
    Добавление контакта
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-formhelpers.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <h3>Добавить новий контакт</h3>
    <form method="post" action="/add/{{ field }}" class="form-horizontal">{% csrf_token %}
        <div class="control-group">
            {% if form.name.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.name.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_name">{{ form.name.label }}</label>
            <div class="controls">
                {{ form.name }}
            </div>
        </div>
        <div class="control-group">
            {% if form.lvl.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.lvl.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_lvl">{{ form.lvl.label }}</label>
            <div class="controls">
                {{ form.lvl }}
            </div>
        </div>
        <div class="control-group">
            {% if form.phone_work.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.phone_work.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_phone_work">{{ form.phone_work.label }}</label>
            <div class="controls">
                {{ form.phone_work }}
            </div>
        </div>
        <div class="control-group">
            {% if form.phone_cell.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.phone_cell.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_phone_cell">{{ form.phone_cell.label }}</label>
            <div class="controls">
                {{ form.phone_cell }}
            </div>
        </div>
        <div class="control-group">
            {% if form.email.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.email.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_email">{{ form.email.label }}</label>
            <div class="controls">
                {{ form.email }}
            </div>
        </div>
        <div class="control-group">
            {% if form.icq.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.icq.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_icq">{{ form.icq.label }}</label>
            <div class="controls">
                {{ form.icq }}
            </div>
        </div>
        <div class="control-group">
            {% if form.skype.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.skype.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_skype">{{ form.skype.label }}</label>
            <div class="controls">
                {{ form.skype }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="javascript:window.close()" class="btn">Отменить</a> <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block script %}
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'js/bootstrap-formhelpers-phone.format.js' %}"></script>
    <script src="{% static 'js/bootstrap-formhelpers-phone.js' %}"></script>
{% endblock script %}
