{% extends "add/base.html" %}

{% block title %}
    Добавление отрасли
{% endblock title %}

{% block head %}
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
{% endblock head %}

{% block content %}
    <h3>Добавить новую отрасль</h3>
    <form method="post" action="/add/{{ field }}" class="form-horizontal">{% csrf_token %}
        <div class="control-group">
            {% if form.name.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.name.errors %}
                        <strong>Ошибка!</strong> {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <label class="control-label" for="id_name">{{ form.name.label }}</label>
            <div class="controls">
                {{ form.name }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="javascript:window.close()" class="btn">Отменить</a> <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock content %}
