{% extends "restaurant/index.html" %}
{% load staticfiles %}

{% block title %}
    Контакты | Рестораны
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-formhelpers.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-3">
                <div class="well-sm pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="list-group">
                        <a href="{% url 'restaurant-index' %}" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Рестораны</a>
                        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Контакты</a>
                        <a href="{% url 'restriction-index' %}" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Ограничения</a>
                    </ul>
                </div>
                <div class="well-sm pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                   <label>Фильтры</label>
                        <form role="form" action="" method="get">
                         <div class="form-group">
                            <select name="manager" style="width:180px" class="form-control">
                                 <option value="">Менеджер</option>
                                 {% for manager in managers %}
                                     <option {% ifequal manager_act manager.id %}selected{% endifequal %} value="{{ manager.id }}">{{ manager.last_name }} {{ manager.first_name }}</option>
                                 {% endfor %}
                             </select>
                          </div>
                            <button type="submit" class="btn btn-default">Продолжить</button>
                         </form>
                    </ul>
                 </div>
            </div>
            <div class="col-md-9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ресторан</th>
                            <th>Ф.И.О.</th>
                            <th>Должность</th>
                            <th>Мобильный тел.</th>
                            <th style="width:92px"><a href="{% url 'contact-new' %}" class="btn btn-success btn-xs" style="width:78px"><i class="glyphicon glyphicon-plus"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.restaurant }}</td>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.position_verbose }}</td>
                                <td>{{ contact.phone_cell }}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal_{{ contact.id }}_browse"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                    <a href="{% url 'contact-edit' contact.id %}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal_{{ contact.id }}_delete"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for contact in contacts %}
            {% include "restaurant/contact/browse.html" %}
            {% include "restaurant/contact/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}
