{% extends "base.html" %}

{% block title %}
    Рестораны
{% endblock title %}

{% block navbar %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'client-index' %}">Клиенты</a></li>
    <li class="active"><a href="{% url 'restaurant-index' %}">Рестораны</a></li>
    <li><a href="{% url 'analytics-index' %}">Отчетность</a></li>
{% endblock navbar %}
{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header"></li>
                        <li class="active"><a href="#"><i class="icon-home"></i> Рестораны</a></li>
                        <li><a href="{% url 'contact-index' %}"><i class="icon-user"></i> Контакты</a></li>
<!--                        <li class="divider"></li>
                        <li class="nav-header">Сеть ресторанов</li>
                        <li {% if not chain_act %}class="active"{% endif %}><a href="?">Все</a></li>
                        {% for restaurant in restaurants_all %}
                            <li {% ifequal chain_act restaurant.chain_name_rus %}class="active"{% endifequal %}><a href="?chain_name_rus={{ restaurant.chain_name_rus }}">{{ restaurant.chain_name_rus }}</a></li>
                        {% endfor %} -->
                    </ul>
                </div>
            </div>
            <div class="span9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ресторан</th>
                            <th>Сеть ресторанов</th>
                            <th>Сайт</th>
                            <th>Дата</th>
                            <th style="width:92px"><a href="{% url 'restaurant-new' %}" class="btn btn-success btn-mini" style="width:78px"><i class="icon-plus icon-white"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in restaurants %}
                            <tr>
                                <td>{{ restaurant.name_rus }}</td>
                                <td>{{ restaurant.chain_name_rus }}</td>
                                <td><a href="{{ restaurant.site }}">{{ restaurant.site }}</a></td>
                                <td>{{ restaurant.add_date }}</td>
                                <td>
                                    <a href="#myModal_{{ restaurant.id }}_browse" role="button" class="btn btn-info btn-mini" data-toggle="modal"><i class="icon-zoom-in icon-white"></i></a>
                                    <a href="{% url 'restaurant-edit' restaurant.id %}" class="btn btn-warning btn-mini"><i class="icon-edit icon-white"></i></a>
                                    <a href="#myModal_{{ restaurant.id }}_delete" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><i class="icon-remove icon-white"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for restaurant in restaurants %}
            {% include "restaurant/restaurant/browse.html" %}
            {% include "restaurant/restaurant/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}
