{% extends "base.html" %}

{% block title %}
    Рестораны
{% endblock title %}

{% block navbar %}
    <!--<li><a href="{% url 'index' %}">Главная</a></li>-->
    {% if user in director_group or user in manager_group %}
        <li><a href="{% url 'client-index' %}">Клиенты</a></li>
    {% endif %}
    {% if user in director_group %}
        <li class="active"><a href="{% url 'restaurant-index' %}">Рестораны</a></li>
    {% endif %}
    {% if user in director_group %}
        <li><a href="{% url 'tech-index' %}">Технический отдел</a></li>
    {% endif %}
    <!--<li><a href="{% url 'analytics-index' %}">Отчетность</a></li>-->
{% endblock navbar %}
{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header"></li>
                        <li class="active"><a href="#"><i class="icon-home"></i> Рестораны</a></li>
                        <li><a href="{% url 'contact-index' %}"><i class="icon-user"></i> Контакты</a></li>
                        <li><a href="{% url 'restriction-index' %}"><i class="icon-user"></i> Ограничения</a></li>
                    </ul>
                </div>
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Фильтры</li>
                        <li class="divider"></li>
                        <form action="" method="get">
                            <select name="manager" style="width:180px">
                                <option value="">Менеджер</option>
                                {% for manager in managers %}
                                    <option {% ifequal manager_act manager.id %}selected{% endifequal %} value="{{ manager.id }}">{{ manager.last_name }} {{ manager.first_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-small">Продолжить</button>
                        </form>
                    </ul>
                </div>
            </div>
            <div class="span9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ресторан</th>
                            <th>Сеть ресторанов</th>
                            <th>Сайт</th>
                            <th>Дата</th>
                            <th style="width:92px"><a href="{% url 'restaurant-new' %}" class="btn btn-success btn-mini" style="width:78px"><i class="icon-plus icon-white"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in restaurants %}
                            <tr>
                                <td>{{ restaurant.name_rus }}</td>
                                <td>{{ restaurant.chain_name_rus }}</td>
                                <td><a href="{{ restaurant.site }}">{{ restaurant.site }}</a></td>
                                <td>{{ restaurant.add_date }}</td>
                                <td>
                                    <a href="#myModal_{{ restaurant.id }}_browse" role="button" class="btn btn-info btn-mini" data-toggle="modal"><i class="icon-zoom-in icon-white"></i></a>
                                    <a href="{% url 'restaurant-edit' restaurant.id %}" class="btn btn-warning btn-mini"><i class="icon-edit icon-white"></i></a>
                                    <a href="#myModal_{{ restaurant.id }}_delete" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><i class="icon-remove icon-white"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for restaurant in restaurants %}
            {% include "restaurant/restaurant/browse.html" %}
            {% include "restaurant/restaurant/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}
