{% extends "restaurant/restriction/index.html" %}
{% load floppyforms %}

{% block title %}
    {% if restriction %}{{ restriction }}{% else %}Новое ограничение{% endif %} | Ограничения | Рестораны
{% endblock title %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-3">
                <div class="well-sm pull-left" style="margin: 5px; padding: 8px 0;">
                    <ul class="list-group">
                        <label>{% if restriction %}{{ restriction.name }}{% else %}Новое ограничение{% endif %}</label>
                        <a href="#" id="nav1" class="list-group-item">Общая информация</a></li>
                    </ul>
                        <div style="text-align:center;">
                            <a href="{% url 'restriction-index' %}" class="btn btn-default">Отменить</a>
                            <button type="submit" class="btn btn-primary" form="cont_form">Сохранить</button>
                        </div>
                </div>
            </div>
            <div class="col-md-9">
                <form action="" method="post" class="form-horizontal" id="cont_form">
                    {% csrf_token %}
                    <h4>Общая информация</h4>
                    {% form formRestrict using "floppyforms/layouts/bootstrap.html" with style_div="margin-left:220px" style_label="width:200px"  %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
