{% extends "restaurant/index.html" %}
{% load staticfiles %}

{% block title %}
    Ограничения | Рестораны
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-formhelpers.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-3">
                <div class="well-sm pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="list-group">
                        <a href="{% url 'restaurant-index' %}" class="list-group-item"><i class="glyphicon glyphicon-home"></i> Рестораны</a>
                        <a href="{% url 'contact-index' %}" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Контакты</a>
                        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Ограничения</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ограничения</th>
                            <th style="width:92px"><a href="{% url 'restriction-new' %}" class="btn btn-success btn-xs" style="width:78px"><i class="glyphicon glyphicon-plus"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restriction in restrictions %}
                            <tr>
                                <td>{{ restriction.name }}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal_{{ restriction.id }}_browse"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                    <a href="{% url 'restriction-edit' restriction.id %}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal_{{ restriction.id }}_delete"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for restriction in restrictions %}
            {% include "restaurant/restriction/browse.html" %}
            {% include "restaurant/restriction/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}

{% block script %}
{% endblock script %}
