<div class="modal fade" id="myModal_{{ branch.id }}_browse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{ client.id }}_browse" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel_{{ branch.id }}_browse">Просмотр "{{ branch }}"</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:220px">Общая информация</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Название</td>
                            <td>{{ branch.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                <a href="{% url 'client-branch-edit' branch.id %}" role="button" class="btn btn-warning btn-sm">Редактировать</a>
                <a href="#myModal_{{ branch.id }}_delete" role="button" class="btn btn-danger btn-sm" data-toggle="modal" data-dismiss="modal">Удалить</a>
            </div>
        </div>
    </div>
</div>
