{% extends "client/branch/index.html" %}
{% load floppyforms %}

{% block title %}
    {% if branch %}{{ branch }}{% else %}Новое отрасль{% endif %} | Отрасли | Клиенты
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="well well-sm">
                    <span class="text-muted"><strong>{% if branch %}{{ branch.name }}{% else %}Новое отрасль{% endif %}</strong></span>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#total" data-toggle="tab">Общая информация</a></li>
                </ul>
                <br />
                <div style="text-align:center;">
                    <a href="{% url 'client-branch-index' %}" class="btn btn-sm btn-default" role="button">Отменить</a>
                    <button type="submit" class="btn btn-primary btn-sm" form="branch_form">Сохранить</button>
                </div>
            </div>
            <div class="col-md-9">
                <form action="" method="post" class="form-horizontal" role="form" id="branch_form">
                    {% csrf_token %}
                    <h4>Общая информация</h4>
                    {% form formBranch using "floppyforms/layouts/bootstrap.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
