{% extends "client/index.html" %}
{% load staticfiles %}

{% block title %}
    Отрасли | Клиенты
{% endblock title %}

{% block head %}
    <link href="{% static 'css/bootstrap-formhelpers.css' %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="span3">
                <div class="well pull-left" style="min-width: 210px; margin: 5px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header"></li>
                        <li><a href="{% url 'client-index' %}"><i class="icon-home"></i> Клиенты</a></li>
                        <li><a href="{% url 'agency-index' %}"><i class="icon-home"></i> Рекламные агенства</a></li>
                        <li><a href="{% url 'client-contact-index' %}"><i class="icon-user"></i> Контакты</a></li>
                        <!--<li><a href="{% url 'client-ac-index' %}"><i class="icon-facetime-video"></i> Запуск РК</a></li>-->
                        <li class="active"><a href="#"><i class="icon-edit"></i> Отрасли</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Выполнено!</strong> {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Отрасли</th>
                            <th style="width:92px"><a href="{% url 'client-branch-new' %}" class="btn btn-success btn-mini" style="width:78px"><i class="icon-plus icon-white"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for branch in branchs %}
                            <tr>
                                <td>{{ branch.name }}</td>
                                <td>
                                    <a href="#myModal_{{ branch.id }}_browse" role="button" class="btn btn-info btn-mini" data-toggle="modal"><i class="icon-zoom-in icon-white"></i></a>
                                    <a href="{% url 'client-branch-edit' branch.id %}" class="btn btn-warning btn-mini"><i class="icon-edit icon-white"></i></a>
                                    <a href="#myModal_{{ branch.id }}_delete" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><i class="icon-remove icon-white"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for branch in branchs %}
            {% include "client/branch/browse.html" %}
            {% include "client/branch/delete.html" %}
        {% endfor %}
    </div>
{% endblock content %}

{% block script %}
{% endblock script %}
